In [1]:
import pandas as pd

In [2]:
def padroniza(df,possibilities,field):
    for row in possibilities:
        for val in row[:-1]:
            df.loc[df[field] == val, [field]] = row[-1]

In [3]:
pacientes = pd.read_csv('dados/pacientes.csv')

In [4]:
pacientes.head()

                                ID_Paciente Sexo Ano_Nascimento  Hospital
0  1e5b27a1ca443075160da7be8a93f977038f277a    M           1978  Einstein
1  17435b27462b2e3824596f0b72c9646e15fba829    M           1982  Einstein
2  8b09117dc5e21e8b790296a8a4f5aa599ffe6eb8    F           1988  Einstein
3  0c275fa49e292b2f9a9bf9f7cbd83d1351fdd80f    M           1985  Einstein
4  b08928a65064fb16e2b2ce347949a485fc52cd75    M           1973  Einstein

In [5]:
exames = pd.read_csv('dados/exames.csv')

In [6]:
exames.head()

,ID_Paciente,Data_Coleta,Origem,Exame,Analito,Resultado,Unidade,Valor_Referencia,Hospital
0,1d71815e54f30ce277422dbc238ef116b23a383f,15/05/2020,HOSP,Hemograma Contagem Auto,Basófilos #,20,µL,0 a 100,Einstein
1,d9775c209fc86373ea7eeb164e06944eac2ea73f,14/04/2020,HOSP,Urina Tipo I,Nitrito,Negativo,NaN,Negativo,Einstein
2,d9775c209fc86373ea7eeb164e06944eac2ea73f,07/04/2020,HOSP,Hemograma Contagem Auto,Neutrófilos,96.0,%,NaN,Einstein
3,d9775c209fc86373ea7eeb164e06944eac2ea73f,09/04/2020,HOSP,Gasometria Venosa,Saturação da Hb (gasometria venosa),97.8,%,40.0 a 70.0,Einstein
4,d9775c209fc86373ea7eeb164e06944eac2ea73f,13/04/2020,HOSP,Diferencial Manual,Monócitos #,1673,µL,300 a 900,Einstein

In [9]:
len(exames.Exame.unique())

1260